
/* Table Colors */

:root {
    --color-gradient-1: #3b82f6;
    --color-gradient-2: #4a7dff;
    --color-gradient-3: #5a7cdc;
    --color-gradient-4: #606dde;

    --color-01: #f0f8ff;
    --color-02: #1A1A1B;
}